assets/NewAssets/**.png filter=lfs diff=lfs merge=lfs -text
assets/NewAssets/**.gif filter=lfs diff=lfs merge=lfs -text
assets/NewAssets/**.fbx filter=lfs diff=lfs merge=lfs -text

*.ts text
*.js text
*.json text
*.md text
